*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
}

/* navigation section design */
header{
    background-color: #FFFFFF;
}
.nav-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}
.nav-menu ul{
    list-style: none;
    text-decoration: none;
    padding: 15px;

}
.nav-menu ul li{
    display: inline;
    font-size: 16px;
    color: #575757;
    font-family: 'Arimo', 'Times New Roman';
    margin: 20px 16px;
    
}
.register-btn{
    width: 192px;
    height: 56px;
    color: #FFFFFF;
    background-color: #1D4ED8;
    border: none;
    border-radius: 6px;;
}


/* hero section design */

.hero-banner{
    background-image: linear-gradient(to right,rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url('../images/banner.jpg');
    background-repeat: no-repeat;
    
    background-position: center;
    max-height: 700px;
    width: 100%;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
    padding: 60px 20px;
    /* background-color: hsla(0, 0%, 24%, 0.325); */
}
.hero-banner h1{
    font-size: 80px;
    font-family: 'Inter', 'Times New Roman';
}
.hero-banner p{
    font-size: 22px;
    font-family: 'Inter', 'Times New Roman';
    max-width: 800px;
    text-align: center;
    margin: auto;
    padding: 30px;
}
.hero-banner .register-btn{
    margin-top: 150px;
}


/* specker section design */
.speaker-container{
    text-align: center;
    font-size: 32px;
    font-family: 'Inter', 'Times New Roman';
    margin-top: 50px;
    padding: 10px;;
}
.speaker-container h3 {
    margin-bottom: 40px;
}
.speaker-parent{
    margin-top: 20px;
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: auto;
    
}
.image {
    width: 100%;
    text-align: left;
    border: 1px solid rgb(204, 201, 201);
    border-radius: 6px;;
}
.image img {
    width: 100%;
    height: 300px;     
    object-fit: cover; 
    display: block;
    margin-bottom: 12px;
}
.speaker p,h6{
    margin: 15px;
}
.speaker p{
    font-family: 'Inter', 'Times New Roman';
    font-size: 14px;
    color: #575757
}
.speaker .title{
    font-family: 'Inter', 'Times New Roman';
    font-size: 12px;
    color: #2563EB;
}
.speaker h6{
    font-family: 'Inter', 'Times New Roman';
    font-size: 20px;
    color: #0D1B2A
}

/* offer sectin design */
.offer-parent{
    text-align: center;
    font-family: 'Inter', 'Times New Roman';
    
}
.offer-parent h3{
    font-size: 40px;
    color: #0D1B2A;
    margin-top: 60px;
    margin-bottom: 20px;
}
.offer-parent p{
    margin-bottom: 20px;
}
.offer-child{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}
.card{
    border: 1px solid rgb(215, 214, 214);
    border-radius: 6px;
    /* width: 320px; */
    /* height: 444px; */
    text-align: left;
    padding: 40px;
  
}
.offer-pro p, li{
    font-size: 13px;
    color: white;
    
}
.offer-standard p, li{
    font-size: 13px;
    color: #888888;
}
.offer-team p,li{
    font-size: 13px;
    color: #888888;
}
.offer-pro{
    background-color: #0D1B2A;
    color: white;
}
.offer-pro h4{
    font-size: 35px;
}
.offer-standard h4{
    font-size: 35px;
}

.offer-team h4{
    font-size: 35px;
}
.offer-team button{
    width: 200px;
    height: 30px;
    text-align: center;
    margin-top: 12px;
    border: 1px solid #0D1B2A;
    border-radius: 6px;
    background-color: white;
}
.offer-standard button{
    width: 200px;
    height: 30px;
    text-align: center;
    margin-top: 12px;
    border: 1px solid #2563EB;
    border-radius: 6px;
    color: #2563EB;
    background-color: white;
}
.offer-pro button{
    width: 200px;
    height: 30px;
    text-align: center;
    margin-top: 12px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #2563EB;
}
.skill-check-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 60px;
    padding: 40px;
    border: 1px solid #733AF0;
    border-radius: 6px;
    background-color: #F7F5FD;
}
.skill-check{
    font-family: 'Inter', 'Times New Roman';
    padding: 40px;
    border-right: 1px solid #733AF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skill-check h3{
    font-size: 25px;
    color: #0D1B2A;
    margin-bottom: 10px;
}
#not-special{
    margin-top: 30px;
}
#special{
    color:#733AF0;
}
.skill-check p{
    font-size: 14px;
    color: #888888;
}
.skill-check-btn{
    width: 200px;
    height: 30px;
    text-align: center;
    margin-top: auto;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #733AF0;
}
.skill-check img{
    width: 30px;
}

.skill-newsletter {
    font-family: 'Inter', 'Times New Roman';
    padding: 20px;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.skill-newsletter h3 {
    font-size: 25px;
    color: #0D1B2A;
    margin-bottom: 5px;
}

.skill-newsletter p {
    font-size: 14px;
    color: #888888;
    margin-bottom: 20px;
    margin-top: 10px;
}
.skill-newsletter form {
    display: flex;
    flex-direction: column; 
    gap: 8px;
    font-family: 'Inter', 'Times New Roman';
}

.skill-newsletter label {
    font-size: 12px;
    font-weight: 600;
    color: #0D1B2A;
    margin-top: 10px;
}

.skill-newsletter input {
    padding: 10px 12px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.skill-newsletter form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #733AF0;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

/* footer section design */
footer{
    background-color: #0D1B2A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 30px;
}
.left-foot img, .left-foot p{
    display: inline;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    
}
.left-foot img{
    margin-left: 15px;
    vertical-align: middle;
}
.left-foot p{
    margin-left: 15px;
    vertical-align: middle;
    font-family: 'Inter', 'Times New Roman';
}
.right-foot p{
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 20px;
    font-family: 'Inter', 'Times New Roman';
}
